<div class="mx-auto md:w-2/3 w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% if flash[:error].present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-red-500 font-medium rounded-lg inline-block" id="error"><%= flash[:error] %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Smash It</h1>
    <%= link_to "New list", new_list_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="lists" class="min-w-full mt-5">
    <%= render @lists %>
  </div>

  <div>
    <%= button_to "Log Out", destroy_user_session_path, method: :delete %>
  </div>

  <div>
    <button id='ai-image-email'>Send AI Image Now</button>
  </div>
</div>

<script>
  const sendAiImageNow = async (token) => {
    const response = await fetch('/ai_image_email', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRF-Token': token
      },
    });
    const res = await response.json();
    console.log(res);
    if (res.success) {
      alert(`Email has been sent. Original prompt: ${res.params.prompt}`);
    } else {
      alert('Something went wrong');
    }
  };

  window.onload = () => {
    const token = document.querySelector('meta[name="csrf-token"]').content;
    document.querySelector('#ai-image-email').addEventListener('click', async (e) => {
      if (e.target.innerHTML === 'Sending...') return;
      e.target.innerHTML = 'Sending...';
      await sendAiImageNow(token);
      e.target.innerHTML = 'Send AI Image Now';
    });
  };
</script>
